---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$black: #4d4d4d;
$blue: #2d4B5a;
$gray: #cccccc;
$white: #fcfcfc;

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: $blue;
  }
}

blockquote {
  border-left: 1px $gray solid;
  font-style: italic;
  padding-left: 2%;
}

body {
  background-color: $white;
  color: $black;
  font-family: 'CaslonOSRegular', serif;
  letter-spacing: 1px;
  padding-top: 3em;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.5em;
  //margin-bottom: 0.5em;
}

h3 {
  font-size: 1.25em;
  margin-bottom: 0.75em;
}

h1, h2, h3 {
  letter-spacing: 1px;
}

hr {
  border-color: $gray;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

li {
  p {
    display: inline;
  }
}

time {
  font-style: italic;
}

.top-header {
  margin-bottom: 3em;

  h1 {
    margin-bottom: 0.25em;
  }

  .masthead {
    margin-top: 0.25em;

    p {
      font-style: italic;
      margin-bottom: 0.25em;
    }
  }
}

.feed {
  margin-bottom: 2em;
  margin-top: 2em;

  .feed-left {
    text-align: right;
  }
}

.post {
  h1 {
    margin-bottom: 0;
    margin-right: 4%;
  }

  hr {
    margin-bottom: 1em;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }

  deckhead {
    border-left: 1px $gray solid;
    font-style: italic;
    margin-bottom: 3em;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 3em;
    padding-left: 4%;
  }
}

.bottom-footer {
  margin-bottom: 2em;
  margin-top: 2em;

  p, ul {
    text-align: center;
  }

  p.quote {
    font-style: italic;
  }
}

.deckhead {
  font-style: italic;
}

.footnotes {
  border-top: 1px $gray solid;
  padding-top: 1em;

  ol {
    font-size: 0.9em;
    list-style-position: outside;
    margin-left: 5%;
    margin-right: 5%;
  }
}

// Tablet, Desktop
@media (min-width: 700px) {
  .top-header {
    h1 {
      display: inline;
      margin-right: 2%;
    }
  }

  .content {
    padding-left: 4%;
    padding-right: 4%;
  }

  .feed:nth-child(odd) {
    .feed-left {
      float: right;
      text-align: left;
    }

    .feed-right {
      margin-left: 0;
      margin-right: 4%;
    }
  }
}
