---
layout: default
---

<div class="row post">
  <div class="twelve columns">

    <article itemscope itemtype="http://schema.org/BlogPosting">

      <header>
        <h1 itemprop="name headline">{{ page.title }}</h1>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%b %-d, %Y" }}
        </time>
        <hr>

        <p>
          {% if page.author %} •
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">{{ page.author }}</span>
            </span>
          {% endif %}
        </p>

        {% if page.categories contains 'notes' %}
        <p class="deckhead">
          This is a page of notes on a particular technology. It's meant to
          describe the subject in a succient manner and comes from a
          collection of important points derived from a concentrated study.
          It should be useful as reference or getting a high-level
          understanding of the subject quickly.
        </p>
        {% endif %}
      </header>

      <div itemprop="articleBody">
        {{ content }}
      </div>

    </article>

  </div>
</div>
